@import 'https://fonts.googleapis.com/css?family=Oswald';

$link_color: #06a5ff;
$orfe_conference_font: "Open Sans", sans-serif;
$breakpoint: 850px;
$orfe_conference_sitewidth: 1280px;
$orfe_conference_header_font: "Oswald", sans-serif;
$header_color: rgb(255, 181, 255);
$dec_bgcolor: rgba(30,0,221,0.48);
$jan_bgcolor: rgba(192, 24, 255, 0.39);
$feb_bgcolor: rgba(255,24,239,0.4);
$mar_bgcolor: rgba(0, 135, 221, 0.77);
$apr_bgcolor: rgba(96, 112, 122, 0.77);
$pu_orange: #E5863E;
$site_bg_color: black;

#page {
background: $site_bg_color;
}

#main-wrapper {
background: $site_bg_color;
background-image: url('https://orfe.princeton.edu/sites/orfe.princeton.edu.conferences.sdc/themes/ORFEx_sdc/images/background-pink-wedge-left-03.png');
background-position: top center;
background-repeat: no-repeat;
background-size: 80%;
}

body {
background: black;
font-family: $orfe_conference_font;
color: whitesmoke;
}

h1, h2, h3, h4, h5, h6 {
font-family: $orfe_conference_header_font;
}

h1 {
color: $header_color;
}

tr, tr.odd {
color: black;
}

tr.even {
background: lightgray;
}

tr {
background: white;
}

tr td, tr th {
padding: 0.25em;
}

td {
white-space: normal;
}

fieldset legend {
font-family: inherit;
text-shadow: none;
color: black;
font-weight: bold;
}

a {
color: $link_color;
}

#views-preview-wrapper {
background:white;
color: black;
}

#menu-edit-item, #node-type-form, .node-sponsor-form{
background: white;
}

#node-type-form {
label {
color: white;
}
label.option {
color: black;
}
}

.collapse-text-text {
color:white;
background: black;
}

.collapsible form-wrapper {
background: none;
}

.player {
text-align:center;
}

.views-field-nothing-2 {
text-align: center;
padding: 1em 0 1em 0;
}

.participant-icon {
padding: 1em 0 1em 0;
}

.view-participants {
tr {
background: transparent;
}
td {
padding: 1em;
border-radius: 25px;
border: none;
color: white;

}
td.col-1 {
background-color: $dec_bgcolor;
}
td.col-2 {
background-color: $feb_bgcolor;
}
td.col-3 {
background-color: $mar_bgcolor;
}
td.col-4 {
background-color: $apr_bgcolor;
}
}

.sponsor-summit-link {
padding: 1em;
text-align:center;
a {
background-color: $pu_orange;
padding: 1em;
border-radius: 25px;
color: white;
}
}

.summit-link-request {
text-align:center;
border-radius: 25px;
a {
border: 1px solid white;
padding: 0.5em 1em 0.5em 1em;
border-radius: 25px;
}
}

.page-admin {
label, .description{
color:whitesmoke;
}
.form-wrapper {
label, .description {
color: black;
}
}
}

.node-type-webform {
.webform-client-form {
background-color: white;
padding: 1em;
}
}

.clear {
clear:both;
}

.no-panelists-message {
margin: 0 2em;
}

.view-embedded-panelist-view-field .view-content>h3 {
min-width: 200px;
//padding: 1em;
clear: both;
}

.views-field-field-session-description {
background: white;
border-radius: 25px;
padding: 1em;
color: blueviolet;
}

.node-session {
margin: 0 1em;
}

.node-session-form .field-name-field-session-description, .node-session-form .field-name-field-session-focus, .node-session-form .field-name-field-session-subtitle, .field-name-field-show-session-fomenters, .field-name-field-show-session-producer, .field-name-field-show-session-moderator {
label {
color:white;
}
}

.views-ui-display-tab-bucket {
h3 {
font-size: 1em !important;
font-family: 'Open Sans', sans-serif !important;
}
}

.views-edit-view.views-admin {
background-color:white;
color:black;
}

.view-sdc-sessions .view-content, .views-field-field-sponsor-logo {
display: flex;
flex-flow: row wrap;
align-content: center;
justify-content: center;
}


.view-sdc-sessions, .view-sdc-sessions-list {
padding: 0 0 0 0;
text-align: center;
a {
color: white;
}
}

.view-sdc-sessions .sdc-session-month {
padding: 0 2em 0 2em;
border-radius:25px;
margin: 0 1em 1em 1em;
flex: 0 23%;
@media screen and (max-width: 960px) {
flex: 0 100%;
}
}

.sdc-session-month:first-child {
background-color: $dec_bgcolor;
}

.sdc-session-month:nth-child(2) {
background-color: $jan_bgcolor; 
}

.sdc-session-month:nth-child(3) {
background-color: $feb_bgcolor;
}

.sdc-session-month:nth-child(4){
background-color: $mar_bgcolor;
}

.sdc-session-month:nth-child(5){
background-color: $apr_bgcolor;
}

.view-sdc-sessions .views-field-title {
text-align:center;
}

.view-sdc-sessions .sdc-session-month {
ul {
list-style-type:none;
text-align:center;
padding:0;
margin:0;
}
}

.view-session-node-override {
.views-field-field-photo, .views-field-field-photo-1 {
padding: 1em;
font-size:2.25em;
float: left;
@media screen and (max-width: 960px) {
float: none;
text-align:center;
}
}
}

.featured-panelist-profile {
.views-field-views-conditional {
min-width: 300px;
padding: 2em;
float: left;
@media screen and (max-width: 960px) {
float: none;
text-align:center;
}
}
}

@media screen and (max-width: 960px) {
.views-field-views-conditional-2 {
	text-align:center;
}
}

.views-row-last .featured-panelist-profile {
h3 {
clear: both;
}
}

[class$="-name-and-title"] {
	text-align: left;
}

.views-field-field-last-name-1, .views-field-field-last-name-2 {
padding: 1em;
h3 {
border-bottom: 1px solid white;
}
@media screen and (max-width: 960px) {
text-align:center;
}
}

.views-field-views-conditional-1 {
h3 {
border-bottom: 1px solid white;
}

@media screen and (max-width: 960px) {
text-align:center;
}
}

.form-item {
color:black;
}

.field-type-entityreference .form-wrapper {
color: black;
}

.vertical-tabs {
background-color: white;
color: black;
}

.views-field-field-duration {
white-space: nowrap;
}

ul.menu li {
margin: 0;
}

.menu {
list-style-type: none;
margin: 0;

ul li a, .item-list ul li {
padding: 0;
}
ul li {
margin: 0;
}

ul li>ul li {
margin: 0;
}
}

.field-name-body {
ul, ol {
margin: 1em 0 0 1em;
}
}

.item-list ul li {
margin: 0 0 0 1em;
}

.node .content, .form-select {
font-size: inherit;
}

.form-item {
margin: 1.5em 0 1.5em 0
label {
font-size: inherit;
}
}

.webform-client-form {
margin: 1em 0 0 0;
}

.fieldset-wrapper {
margin-top: 2em;
.form-item {
margin: 0.25em 0 0.25em 0;
}
}

.field-name-field-related-url {
margin: 1em 0 1em 0;
}

#session-participant-node-form label {
color:whitesmoke;
}

#registration-form, #rules-form-wrapper {
label, .description {
color:whitesmoke;
}
}

#accessibility-message {
h4 {
text-align:center;
}
}

div#block-views-upcoming-session-block {
text-align:center;
}

#page-wrapper {
background: black;
min-width: 370px;
}

#branding {
margin:0 0 0 0;

#block-administration-menu-block { /* begin #block-administration-menu-block */

width: 100%;

ul li a {
padding: 0 0.5em 0 0;
color: white;
font-size: 1.1em;
}

ul li a.active {
color: #9c178a;
}

ul li {
display: inline;
vertical-align: middle;
}

ul {
        margin: 0;
        padding: 0.5em 0 0.5em 0;
        text-align: center;
}

ul>li {
        margin:0;
        padding:0;
}



} /* End #block-administration-menu-block */

p>a {
background: url("../images/princeton-university-logo-alt.png") no-repeat 50% 50%;
//background-size: 296.66667px 24.66667px;
background-size: 400px;
display: block;
// height: 40px;
text-indent: -999em;
min-width: 300px;
text-align: left;


}

h1 a {
height: 40px;
color: #06a5ff;
}

.section { /*Begin .section within #branding */
margin: 0 auto;
max-width: 1290px;
}

#block-princeton-university-logo {
float: left;

@media screen and (max-width: 640px) {
float: none;
}
}

#block-search { /* Begin #block-search within #branding */

float: right;
margin-bottom: 0;
padding-bottom: 0;
padding-top: 0.5em;

input.form-text {
width: 300px;
}


@media screen and (max-width: 640px) {
float: none;
width:100%;

input.form-text {
width: 82%;
}

.container-inline .form-actions {
margin-left: 0.5em;
}

}

} /* End #block-search within #branding */

}

#header {
background-color: $site_bg_color;

div.section {
max-width: 100%;
}

#logo { /* Begin #logo within #header */
max-width: 45%;
max-height: 70px;
min-width: 350px;
padding: 1em 0 0 0;

@media screen and (max-width: 640px) {
max-width: 95%;
}

} /* End #logo within #header */

#name-and-slogan {
width: 100%;
text-align: center;
margin: 0;
padding: 0;
}

#site-slogan {
font-size: 1.25em;
}

#name-and-slogan, #site-name a{

#site-name a {
    text-align:center;
    font-family: $orfe_conference_header_font;
    border-bottom-width: 12px;
    border-bottom-style: solid;
    /* border-bottom-color: rgba(249,165,29,1); */
    /* border-bottom-color: #f77f00; */
    border-bottom-color: lightgray;
    line-height: 1.25em;
/* text-transform: uppercase; */
 font-size: 1.75em;
 display:block; 
}

}


}

#headerwell {
background-color: $site_bg_color;

#block-administration-menu-block {

width: 100%;

ul li a {
padding: 0 0.5em 0 0;
color: white;
font-size: 1.1em;
}

ul li a.active {
color: #9c178a;
}

ul li {
display: inline;
vertical-align: middle;
}

ul {
        margin: 0;
        padding: 0.5em 0 0.5em 0;
        text-align: center;
}

ul>li {
        margin:0;
        padding:0;
}

}


#block-graduate-menu-block, #block-undergraduate-menu-block, #block-research-menu-block, #block-people-menu-block {
background-color: #818285;
}

#block-main-menu-expansion-block, #block-main-menu-block, .graduate.menu, .undergraduate.menu, .research.menu, .people.menu { /* Begin #block-main-menu-block within #headerwell */
clear:both;
width: 100%;
/* background-color: #525355; */
/* background-color: #fefefe; */
background-color: lightgray;
background-image: linear-gradient(to right, #5A23A8, #A02E60);;
/* padding: 1.5rem 0 1.5rem 0; */

a {
/* color: #ffffff; */
/* color: #004d79; */
color: white;
font-size: 1.5em;
font-weight: bold;
text-decoration: none;
}

a.active {
/* color: rgb(201, 201, 201); */
/* color: #5c79d7; */
/* color: rgba(249,165,29,1); */
color: white;
}

a.visited {
}

ul li {
display: inline;
vertical-align: middle;
}

ul {
margin: 0;
padding: 0.75em 0 0.75em 0;
text-align: center;
}

ul>li {
margin:0;
padding:0 1em 0 1em;
}

} /* End #block-main-menu-block within #headerwell */


#block-system-help {
}

}

#main-wrapper {
max-width: $orfe_conference_sitewidth;
margin: auto;

#main {
#content {

h1, h2, h3 {
margin: 0.25em 0 0.25em 0;
text-align: center;
border-bottom: none;
font-family: $orfe_conference_header_font;
}

h1, h1#pagetitle {
font-size: 2.75em;
font-weight: normal;
}

h2 {
font-size: 2.35em;
}

h3 {
font-size: 2.25em;
font-weight: bold;
}

h3.session-subtitle {
font-size: 1.15em;
text-align: center;
margin: 1em 0 1em 0;
padding: 1em;
border-radius: 25px;
}

.subtitle-month-12 {
background-color: $dec_bgcolor;
}
.subtitle-month-01 {
background-color: $jan_bgcolor;
}
.subtitle-month-02 {
background-color: $feb_bgcolor;
}
.subtitle-month-03 {
background-color: $mar_bgcolor;
}
.subtitle-month-04 {
background-color: $apr_bgcolor;
}

h4 { /* Begin h4 within #content, #main-wrapper */
margin: 1em 0 1em 0;
font-style: italic;
font-size: 1.25em;
}
}
}
}

@media screen and (max-width: 860px) {
	#header {
		background-image: none;
	}
}

@media screen and (min-width: 960px) {

#footer {
width: 100%;
max-width: none;
margin: none;
text-align:center;
}
}

#footer-wrapper { 
margin: auto;
background: black; 
}

.page-admin-config .admin {
background-color:white;
color:black;
}