@import 'https://fonts.googleapis.com/css?family=Oswald';
#page {
  background: black;
}

#main-wrapper {
  background: black;
  background-image: url("https://orfe.princeton.edu/sites/orfe.princeton.edu.conferences.sdc/themes/ORFEx_sdc/images/background-pink-wedge-left-03.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 80%;
}

body {
  background: black;
  font-family: "Open Sans", sans-serif;
  color: whitesmoke;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald", sans-serif;
}

h1 {
  color: #ffb5ff;
}

tr, tr.odd {
  color: black;
}

tr.even {
  background: lightgray;
}

tr {
  background: white;
}

tr td, tr th {
  padding: 0.25em;
}

td {
  white-space: normal;
}

fieldset legend {
  font-family: inherit;
  text-shadow: none;
  color: black;
  font-weight: bold;
}

a {
  color: #06a5ff;
}

#views-preview-wrapper {
  background: white;
  color: black;
}

#menu-edit-item, #node-type-form, .node-sponsor-form {
  background: white;
}

#node-type-form label {
  color: white;
}
#node-type-form label.option {
  color: black;
}

.collapse-text-text {
  color: white;
  background: black;
}

.collapsible form-wrapper {
  background: none;
}

.player {
  text-align: center;
}

.views-field-nothing-2 {
  text-align: center;
  padding: 1em 0 1em 0;
}

.participant-icon {
  padding: 1em 0 1em 0;
}

.view-participants tr {
  background: transparent;
}
.view-participants td {
  padding: 1em;
  border-radius: 25px;
  border: none;
  color: white;
}
.view-participants td.col-1 {
  background-color: rgba(30, 0, 221, 0.48);
}
.view-participants td.col-2 {
  background-color: rgba(255, 24, 239, 0.4);
}
.view-participants td.col-3 {
  background-color: rgba(0, 135, 221, 0.77);
}
.view-participants td.col-4 {
  background-color: rgba(96, 112, 122, 0.77);
}

.sponsor-summit-link {
  padding: 1em;
  text-align: center;
}
.sponsor-summit-link a {
  background-color: #E5863E;
  padding: 1em;
  border-radius: 25px;
  color: white;
}

.summit-link-request {
  text-align: center;
  border-radius: 25px;
}
.summit-link-request a {
  border: 1px solid white;
  padding: 0.5em 1em 0.5em 1em;
  border-radius: 25px;
}

.page-admin label, .page-admin .description {
  color: whitesmoke;
}
.page-admin .form-wrapper label, .page-admin .form-wrapper .description {
  color: black;
}

.node-type-webform .webform-client-form {
  background-color: white;
  padding: 1em;
}

.clear {
  clear: both;
}

.no-panelists-message {
  margin: 0 2em;
}

.view-embedded-panelist-view-field .view-content > h3 {
  min-width: 200px;
  clear: both;
}

.views-field-field-session-description {
  background: white;
  border-radius: 25px;
  padding: 1em;
  color: blueviolet;
}

.node-session {
  margin: 0 1em;
}

.node-session-form .field-name-field-session-description label, .node-session-form .field-name-field-session-focus label, .node-session-form .field-name-field-session-subtitle label, .field-name-field-show-session-fomenters label, .field-name-field-show-session-producer label, .field-name-field-show-session-moderator label {
  color: white;
}

.views-ui-display-tab-bucket h3 {
  font-size: 1em !important;
  font-family: "Open Sans", sans-serif !important;
}

.views-edit-view.views-admin {
  background-color: white;
  color: black;
}

.view-sdc-sessions .view-content, .views-field-field-sponsor-logo {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;
}

.view-sdc-sessions, .view-sdc-sessions-list {
  padding: 0 0 0 0;
  text-align: center;
}
.view-sdc-sessions a, .view-sdc-sessions-list a {
  color: white;
}

.view-sdc-sessions .sdc-session-month {
  padding: 0 2em 0 2em;
  border-radius: 25px;
  margin: 0 1em 1em 1em;
  flex: 0 23%;
}
@media screen and (max-width: 960px) {
  .view-sdc-sessions .sdc-session-month {
    flex: 0 100%;
  }
}

.sdc-session-month:first-child {
  background-color: rgba(30, 0, 221, 0.48);
}

.sdc-session-month:nth-child(2) {
  background-color: rgba(192, 24, 255, 0.39);
}

.sdc-session-month:nth-child(3) {
  background-color: rgba(255, 24, 239, 0.4);
}

.sdc-session-month:nth-child(4) {
  background-color: rgba(0, 135, 221, 0.77);
}

.sdc-session-month:nth-child(5) {
  background-color: rgba(96, 112, 122, 0.77);
}

.view-sdc-sessions .views-field-title {
  text-align: center;
}

.view-sdc-sessions .sdc-session-month ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.view-session-node-override .views-field-field-photo, .view-session-node-override .views-field-field-photo-1 {
  padding: 1em;
  font-size: 2.25em;
  float: left;
}
@media screen and (max-width: 960px) {
  .view-session-node-override .views-field-field-photo, .view-session-node-override .views-field-field-photo-1 {
    float: none;
    text-align: center;
  }
}

.featured-panelist-profile .views-field-views-conditional {
  min-width: 300px;
  padding: 2em;
  float: left;
}
@media screen and (max-width: 960px) {
  .featured-panelist-profile .views-field-views-conditional {
    float: none;
    text-align: center;
  }
}

@media screen and (max-width: 960px) {
  .views-field-views-conditional-2 {
    text-align: center;
  }
}
.views-row-last .featured-panelist-profile h3 {
  clear: both;
}

[class$=-name-and-title] {
  text-align: left;
}

.views-field-field-last-name-1, .views-field-field-last-name-2 {
  padding: 1em;
}
.views-field-field-last-name-1 h3, .views-field-field-last-name-2 h3 {
  border-bottom: 1px solid white;
}
@media screen and (max-width: 960px) {
  .views-field-field-last-name-1, .views-field-field-last-name-2 {
    text-align: center;
  }
}

.views-field-views-conditional-1 h3 {
  border-bottom: 1px solid white;
}
@media screen and (max-width: 960px) {
  .views-field-views-conditional-1 {
    text-align: center;
  }
}

.form-item {
  color: black;
}

.field-type-entityreference .form-wrapper {
  color: black;
}

.vertical-tabs {
  background-color: white;
  color: black;
}

.views-field-field-duration {
  white-space: nowrap;
}

ul.menu li {
  margin: 0;
}

.menu {
  list-style-type: none;
  margin: 0;
}
.menu ul li a, .menu .item-list ul li {
  padding: 0;
}
.menu ul li {
  margin: 0;
}
.menu ul li > ul li {
  margin: 0;
}

.field-name-body ul, .field-name-body ol {
  margin: 1em 0 0 1em;
}

.item-list ul li {
  margin: 0 0 0 1em;
}

.node .content, .form-select {
  font-size: inherit;
}

.form-item {
  margin: 1.5em 0 1.5em 0 label;
  margin-font-size: inherit;
}

.webform-client-form {
  margin: 1em 0 0 0;
}

.fieldset-wrapper {
  margin-top: 2em;
}
.fieldset-wrapper .form-item {
  margin: 0.25em 0 0.25em 0;
}

.field-name-field-related-url {
  margin: 1em 0 1em 0;
}

#session-participant-node-form label {
  color: whitesmoke;
}

#registration-form label, #registration-form .description, #rules-form-wrapper label, #rules-form-wrapper .description {
  color: whitesmoke;
}

#accessibility-message h4 {
  text-align: center;
}

div#block-views-upcoming-session-block {
  text-align: center;
}

#page-wrapper {
  background: black;
  min-width: 370px;
}

#branding {
  margin: 0 0 0 0;
  /* End #block-administration-menu-block */
  /* End #block-search within #branding */
}
#branding #block-administration-menu-block {
  /* begin #block-administration-menu-block */
  width: 100%;
}
#branding #block-administration-menu-block ul li a {
  padding: 0 0.5em 0 0;
  color: white;
  font-size: 1.1em;
}
#branding #block-administration-menu-block ul li a.active {
  color: #9c178a;
}
#branding #block-administration-menu-block ul li {
  display: inline;
  vertical-align: middle;
}
#branding #block-administration-menu-block ul {
  margin: 0;
  padding: 0.5em 0 0.5em 0;
  text-align: center;
}
#branding #block-administration-menu-block ul > li {
  margin: 0;
  padding: 0;
}
#branding p > a {
  background: url("../images/princeton-university-logo-alt.png") no-repeat 50% 50%;
  background-size: 400px;
  display: block;
  text-indent: -999em;
  min-width: 300px;
  text-align: left;
}
#branding h1 a {
  height: 40px;
  color: #06a5ff;
}
#branding .section {
  /*Begin .section within #branding */
  margin: 0 auto;
  max-width: 1290px;
}
#branding #block-princeton-university-logo {
  float: left;
}
@media screen and (max-width: 640px) {
  #branding #block-princeton-university-logo {
    float: none;
  }
}
#branding #block-search {
  /* Begin #block-search within #branding */
  float: right;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 0.5em;
}
#branding #block-search input.form-text {
  width: 300px;
}
@media screen and (max-width: 640px) {
  #branding #block-search {
    float: none;
    width: 100%;
  }
  #branding #block-search input.form-text {
    width: 82%;
  }
  #branding #block-search .container-inline .form-actions {
    margin-left: 0.5em;
  }
}

#header {
  background-color: black;
  /* End #logo within #header */
}
#header div.section {
  max-width: 100%;
}
#header #logo {
  /* Begin #logo within #header */
  max-width: 45%;
  max-height: 70px;
  min-width: 350px;
  padding: 1em 0 0 0;
}
@media screen and (max-width: 640px) {
  #header #logo {
    max-width: 95%;
  }
}
#header #name-and-slogan {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
}
#header #site-slogan {
  font-size: 1.25em;
}
#header #name-and-slogan #site-name a, #header #site-name a #site-name a {
  text-align: center;
  font-family: "Oswald", sans-serif;
  border-bottom-width: 12px;
  border-bottom-style: solid;
  /* border-bottom-color: rgba(249,165,29,1); */
  /* border-bottom-color: #f77f00; */
  border-bottom-color: lightgray;
  line-height: 1.25em;
  /* text-transform: uppercase; */
  font-size: 1.75em;
  display: block;
}

#headerwell {
  background-color: black;
  /* End #block-main-menu-block within #headerwell */
}
#headerwell #block-administration-menu-block {
  width: 100%;
}
#headerwell #block-administration-menu-block ul li a {
  padding: 0 0.5em 0 0;
  color: white;
  font-size: 1.1em;
}
#headerwell #block-administration-menu-block ul li a.active {
  color: #9c178a;
}
#headerwell #block-administration-menu-block ul li {
  display: inline;
  vertical-align: middle;
}
#headerwell #block-administration-menu-block ul {
  margin: 0;
  padding: 0.5em 0 0.5em 0;
  text-align: center;
}
#headerwell #block-administration-menu-block ul > li {
  margin: 0;
  padding: 0;
}
#headerwell #block-graduate-menu-block, #headerwell #block-undergraduate-menu-block, #headerwell #block-research-menu-block, #headerwell #block-people-menu-block {
  background-color: #818285;
}
#headerwell #block-main-menu-expansion-block, #headerwell #block-main-menu-block, #headerwell .graduate.menu, #headerwell .undergraduate.menu, #headerwell .research.menu, #headerwell .people.menu {
  /* Begin #block-main-menu-block within #headerwell */
  clear: both;
  width: 100%;
  /* background-color: #525355; */
  /* background-color: #fefefe; */
  background-color: lightgray;
  background-image: linear-gradient(to right, #5A23A8, #A02E60);
  /* padding: 1.5rem 0 1.5rem 0; */
}
#headerwell #block-main-menu-expansion-block a, #headerwell #block-main-menu-block a, #headerwell .graduate.menu a, #headerwell .undergraduate.menu a, #headerwell .research.menu a, #headerwell .people.menu a {
  /* color: #ffffff; */
  /* color: #004d79; */
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
}
#headerwell #block-main-menu-expansion-block a.active, #headerwell #block-main-menu-block a.active, #headerwell .graduate.menu a.active, #headerwell .undergraduate.menu a.active, #headerwell .research.menu a.active, #headerwell .people.menu a.active {
  /* color: rgb(201, 201, 201); */
  /* color: #5c79d7; */
  /* color: rgba(249,165,29,1); */
  color: white;
}
#headerwell #block-main-menu-expansion-block ul li, #headerwell #block-main-menu-block ul li, #headerwell .graduate.menu ul li, #headerwell .undergraduate.menu ul li, #headerwell .research.menu ul li, #headerwell .people.menu ul li {
  display: inline;
  vertical-align: middle;
}
#headerwell #block-main-menu-expansion-block ul, #headerwell #block-main-menu-block ul, #headerwell .graduate.menu ul, #headerwell .undergraduate.menu ul, #headerwell .research.menu ul, #headerwell .people.menu ul {
  margin: 0;
  padding: 0.75em 0 0.75em 0;
  text-align: center;
}
#headerwell #block-main-menu-expansion-block ul > li, #headerwell #block-main-menu-block ul > li, #headerwell .graduate.menu ul > li, #headerwell .undergraduate.menu ul > li, #headerwell .research.menu ul > li, #headerwell .people.menu ul > li {
  margin: 0;
  padding: 0 1em 0 1em;
}
#main-wrapper {
  max-width: 1280px;
  margin: auto;
}
#main-wrapper #main #content h1, #main-wrapper #main #content h2, #main-wrapper #main #content h3 {
  margin: 0.25em 0 0.25em 0;
  text-align: center;
  border-bottom: none;
  font-family: "Oswald", sans-serif;
}
#main-wrapper #main #content h1, #main-wrapper #main #content h1#pagetitle {
  font-size: 2.75em;
  font-weight: normal;
}
#main-wrapper #main #content h2 {
  font-size: 2.35em;
}
#main-wrapper #main #content h3 {
  font-size: 2.25em;
  font-weight: bold;
}
#main-wrapper #main #content h3.session-subtitle {
  font-size: 1.15em;
  text-align: center;
  margin: 1em 0 1em 0;
  padding: 1em;
  border-radius: 25px;
}
#main-wrapper #main #content .subtitle-month-12 {
  background-color: rgba(30, 0, 221, 0.48);
}
#main-wrapper #main #content .subtitle-month-01 {
  background-color: rgba(192, 24, 255, 0.39);
}
#main-wrapper #main #content .subtitle-month-02 {
  background-color: rgba(255, 24, 239, 0.4);
}
#main-wrapper #main #content .subtitle-month-03 {
  background-color: rgba(0, 135, 221, 0.77);
}
#main-wrapper #main #content .subtitle-month-04 {
  background-color: rgba(96, 112, 122, 0.77);
}
#main-wrapper #main #content h4 {
  /* Begin h4 within #content, #main-wrapper */
  margin: 1em 0 1em 0;
  font-style: italic;
  font-size: 1.25em;
}

@media screen and (max-width: 860px) {
  #header {
    background-image: none;
  }
}
@media screen and (min-width: 960px) {
  #footer {
    width: 100%;
    max-width: none;
    margin: none;
    text-align: center;
  }
}
#footer-wrapper {
  margin: auto;
  background: black;
}

.page-admin-config .admin {
  background-color: white;
  color: black;
}

/*# sourceMappingURL=orfex_sdc.css.map */
